<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Open Graph (per la condivisione sui social) -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.sitepoint.com/a-basic-html5-template/"
    />
    <meta property="og:description" content="" />
    <meta property="og:image" content="image.png" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <title>Login</title>

    <!-- Twitter Card (per la condivisione su Twitter) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Titolo della pagina" />
    <meta name="twitter:description" content="Descrizione per Twitter." />
    <meta
      name="twitter:image"
      content="https://www.tuosito.com/immagine-twitter.png"
    />

    <!-- Collegamento al CSS esterno -->
    <link rel="stylesheet" href="./styles/normalize.css" />
    <link rel="stylesheet" href="./styles/style.css" />
</head>
<body>
  <div class="login">
    <h1 class="title-login">Login</h1>
        <form method="post" action="/login">

                <!-- Email Input -->
                <div>
                  <input class="login-input" type="email" id="email" name="email" placeholder="Enter your email" required/>                
              </div>
                
                <!-- Password Input -->
                <div>
                    <input class="login-input" type="password"  id="password" name="password" placeholder="Enter your password" required>
                </div>
                
                <!-- Login Button -->
                <div>
                    <button class="login-button" type="submit">Login</button>
                </div>

                <!-- Error Handling (Optional) -->
                <!-- <div>
                    <p>
                        <small>
                             Display error message if login fails 
                            <% if (request.getParameter("error") != null) { %>
                                Invalid email or password. Please try again.
                            <% } %>
                        </small>
                    </p>
                </div> -->
            </form>
        </div>
    </div>

    <script src="./script/script.js"></script>
  </body>
</html>
