.hidden {
  display: none;
}

.card {
  border: 5px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, var(--purple), var(--orange), var(--yellow))
      border-box;
  border-radius: var(--rounded-corners);
  box-shadow: 10px 8px 15px #aaaaaa;
  margin-bottom: 20px;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 250px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.text-green {
  color: var(--orange) !important;
}

.text-red {
  color: var(--purple) !important;
}

.text-orange {
  color: var(--black) !important;
}

#calendar .fc-button {
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, var(--purple), var(--orange), var(--yellow))
      border-box;
  color: black !important;
  border-radius: var(--rounded-corners);
  border: 2px solid transparent;
}

#calendar .fc-button-active {
  background: linear-gradient(#eeeeee, #eeeeee) padding-box,
    linear-gradient(to left, var(--purple), var(--orange), var(--yellow))
      border-box !important;
}

#calendar .fc-event {
  border-radius: var(--rounded-corners);
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  #dashboard-cards,
  #calendar-container {
    width: 100%;
    padding: 0;
  }

  .card {
    margin-bottom: 15px;
  }

  .chart-container {
    height: 200px;
  }

  #calendar {
    height: 300px;
  }
}
