/* Backoffice Styles */
body {
    font-family: var(--main-font-family);
    background-color: var(--light-theme-background);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card {
    background-color: var(--light-theme-background);
    padding: 2em;
    border-radius: var(--rounded-corners);
    width: 100%;
    border: 5px solid transparent;
    background: linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(to left, var(--purple), var(--orange), var(--yellow)) border-box;
    box-shadow: 10px 8px 15px #aaaaaa;
}

.card-title {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: var(--h2-font-size);
    color: var(--orange);
}

.form-group {
    margin-bottom: 1.5em;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: var(--light-theme-text-color);
}

.form-group input {
    width: 95%;
    padding: 1em;
    border: 1px solid #b8b8b8;
    border-radius: 7px;
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
}

.form-group input:focus {
    border-color: var(--orange);
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 10px 20px;
    border-radius: var(--rounded-corners);
    border: 2px solid var(--orange);
    color: var(--orange);
    background-color: var(--orange-transparent);
    font-size: var(--main-font-size);
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-group button:hover {
    background-color: var(--orange);
    color: var(--light-theme-background);
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: var(--light-theme-background);
    padding: 2em;
    border-radius: var(--rounded-corners);
    box-shadow: 10px 8px 15px #aaaaaa;
    text-align: center;
    border: 5px solid transparent;
    background: linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(to left, var(--purple), var(--orange), var(--yellow)) border-box;
}

#popupMessage {
    font-size: var(--h3-font-size);
    margin-bottom: 1.5em;
    color: var(--light-theme-text-color);
}

#closePopup {
    padding: 10px 20px;
    border-radius: var(--rounded-corners);
    border: 2px solid var(--purple);
    color: var(--purple);
    background-color: var(--purple-transparent);
    cursor: pointer;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    transition: all 0.3s ease;
}

#closePopup:hover {
    background-color: var(--purple);
    color: var(--light-theme-background);
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        padding: var(--mobile-page-margin);
    }
    
    .card {
        padding: 1.5em;
    }
}

@media (min-width: 1200px) {
    .container {
        padding: var(--desktop-page-margin);
    }
}

form{
	border:none
}