h1 {
  text-align: center;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion {
  margin: 10px auto;
  overflow: hidden;
  box-shadow: 6px 5px 10px #aaaaaa;
  border: 5px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, #ed008c, #fc931c, #fef200) border-box;
  border-radius: 24px;
}

.accordion-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-weight: bold;
  color: #000000;
}

.accordion-content {
  text-align: center;
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.35s;
}

input[type="radio"]:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 1em;
}
