h3 {
  text-align: center;
}

form {
  border: none;
}

input {
  margin: 1em 0;
}

.warning {
  border-radius: var(--rounded-corners);
  border: 4px solid;
  padding: 1em;
  text-align: center;
  font-style: italic;
  border-color: #ff0000;
  background-color: #ff00001a;
}

a.back-to-home {
  text-decoration: underline;
  font-weight: bold;
}
