.login {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-login {
  margin-bottom: 30px;
  color: #fc931c;
}

form {
  width: 100%;
}

.login-input {
  width: 100%;
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 24px;
  margin-bottom: 20px;
}

.login-button {
  background-color: rgba(
    252,
    147,
    28,
    0.1
  ); /*0.1 indica il 10% di opacità quindi il 90% di trasparenza */
  color: #fc931c;
  border: 2px solid #fc931c;
  border-radius: 24px;
  padding: 15px 30px;
  font-size: 16px;
  width: auto;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.login-button:hover {
  background-color: #fc931c;
  color: #ffffff;
}

/* per rendere il placeholder bold */
::-webkit-input-placeholder {
  font-weight: bold;
}
::-moz-input-placeholder {
  font-weight: bold;
}
::-ms-input-placeholder {
  font-weight: bold;
}