/**
* main.css
*
* Style Sheet used to style every page of the website
*/

/* Montserrat (Google Font) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal Box Sizing with Inheritance */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* custom properties */
:root {
  --main-font-family: "Montserrat", serif;

  --orange: #fc931c;
  --purple: #ed008a;
  --yellow: #ffff22;

  --purple-transparent: #ed008a1a;
  --orange-transparent: #fc931c1a;
  --yellow-transparent: #fef20033;

  --rounded-corners: 24px;

  --light-theme-background: #ffffff;
  --light-theme-text-color: black;

  --main-font-size: 1em;
  --main-title-font-size: 2em;
  --h2-font-size: 1.6em;
  --h3-font-size: 1.3em;
  --h4-font-size: 1em;
  --section-title-font-size: 1.4em;
  --mobile-page-margin: 20px;
  --desktop-page-margin: 100px;
}

body {
  min-width: 320px;
  background-color: var(--light-theme-background);
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: var(--light-theme-text-color);
  padding-top: 60px;
  overflow-x: hidden;
}

.main-container {
  margin: var(--mobile-page-margin);
}

/* navbar */
.navbar-container {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 20px #aaaaaa;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 45px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  transition: font-size 0.5s;
}

.navbar a[href="#laboratori-anchor"] {
  color: var(--orange);
}

.navbar a[href="#prenotazione-anchor"] {
  color: var(--purple);
}

.navbar a:hover {
  font-size: larger;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

figure#heroImg {
  width: 100%;
}

#heroImg img {
  border-radius: 0;
}

h2 {
  color: var(--orange);
  text-align: center;
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
  margin: 0.2em 0;
}

p {
  line-height: 1.6;
  margin: 0;
}

header p {
  text-align: center;
  margin-bottom: 15px;
}

.main-section h2 {
  margin-top: 25px;
}

.main-section p {
  text-align: center;
  margin-bottom: 15px;
}

/* cta buttons */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-buttons {
  text-align: center;
  font-weight: bold;
  border: 5px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, var(--purple), var(--orange), var(--yellow))
      border-box;
  border-radius: var(--rounded-corners);
  margin: 10px;
  padding: 10px;
  width: 350px;
  box-shadow: 10px 8px 15px #aaaaaa;
}

.cta-buttons:hover {
  background: linear-gradient(#eeeeee, #eeeeee) padding-box,
    linear-gradient(to left, var(--purple), var(--orange), var(--yellow))
      border-box;
  color: #000000;
  box-shadow: 10px 8px 15px #aaaaaa;
}

/* main section images */
.main-images {
  margin: 0 auto;
  border-radius: var(--rounded-corners);
  width: calc(100vw - 50px);
}

/* form */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: var(--rounded-corners);
  max-width: 600px;
  width: 100%;
}

form fieldset {
  border: 0px;
  padding: 0;
  margin: 0;
}
form span {
  text-align: center;
}

form label {
  margin: 0.5em;
  display: block;
  text-align: left;
}

form input,
select,
textarea {
  width: 95%;
  border-color: #b8b8b8;
  border-radius: 7px;
  padding: 1em;
}

fieldset#selectLaboratori {
  display: flex;
  flex-direction: column;
}

fieldset#selectLaboratori input,
input.privacy-check {
  width: auto;
}

fieldset#selectLaboratori label,
label.privacy-check {
  margin: 0.8em 1em;
  display: flex;
  gap: 0.5rem;
}

.error {
  margin: 1em 0 2em;
  margin-bottom: 2em;
}

form input:focus {
  border-color: var(--orange);
}

fieldset legend {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: var(--h3-font-size);
}

.error {
  color: red;
  font-size: 0.9em;
}
.separator {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

textarea {
  resize: none;
}

button.submit-btn {
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  border-radius: var(--rounded-corners);
  border: 2px solid var(--orange);
  color: var(--orange);
  background-color: var(--orange-transparent);
}

.container {
  text-align: center;
  margin-top: 1em;
}

.mandatory-fields {
  color: #b8b8b8;
}

.error {
  display: block;
}

hr {
  border: 2px solid var(--orange);
  border-radius: 5px;
  margin: 2em 0;
}

.big-image {
  height: 85vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../assets/img/a-caccia-di-sapere.webp");
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.412);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 55px;
}

h1 {
  font-size: var(--main-title-font-size);
  text-align: center;
  color: var(--orange);
  text-shadow: 5px 6px 7px #212121;
}

figure {
  text-align: center;
  margin: 3em 0 0;
}

.main-images {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

.valori-images {
  width: 100%;
  height: auto;
  border-radius: var(--rounded-corners);
}

.logo {
  width: 300px;
  height: auto;
}

div.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-article {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: var(--rounded-corners);
}

.section-article p {
  margin: 10px;
}

.card1 {
  border: 5px solid var(--yellow);
  background-color: var(--yellow-transparent);
}

.card2 {
  border: 5px solid var(--orange);
  background-color: var(--orange-transparent);
}

.card3 {
  border: 5px solid var(--purple);
  background-color: var(--purple-transparent);
}

#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.review {
  border-radius: var(--rounded-corners);
  padding: 1.5em;
  text-align: center;
  font-style: italic;
  margin: 15px;
  max-width: 500px;
}

.review-caption {
  font-size: var(--h3-font-size);
  margin-bottom: 1em;
}

/* carousel laboratori */
.carousel-laboratori {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.carousel-laboratori .carousel-prev-laboratori,
.carousel-laboratori .carousel-next-laboratori {
  border: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.carousel-laboratori .carousel-track-container {
  overflow: hidden;
  width: 100%;
  max-width: 350px;
}

.carousel-laboratori .carousel-track-laboratori {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.carousel-laboratori .carousel-card {
  flex: 0 0 100%;
  max-width: 350px;
  border: 5px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, var(--purple), var(--orange), var(--yellow))
      border-box;
  border-radius: var(--rounded-corners);
  padding: 15px;
  text-align: center;
}

.carousel-laboratori .carousel-card img {
  width: 100%;
  height: auto;
  border-radius: var(--rounded-corners);
}

.carousel-laboratori .carousel-card h4 {
  margin: 10px 0;
}

.carousel-laboratori .carousel-card p {
  margin: 10px;
}

/* carousel immagini */
.carousel-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.carousel-image .carousel-prev-image,
.carousel-image .carousel-next-image {
  border: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.carousel-image .carousel-track-container {
  overflow: hidden;
  width: 100%;
  max-width: 450px;
}

.carousel-track-image {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.carousel-card-image {
  flex: 0 0 100%;
  text-align: center;
}

.carousel-image .carousel-card-image img {
  width: 100%;
  height: auto;
  border-radius: var(--rounded-corners);
}

/* FAQ */

.faq-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  max-width: 600px;
}

nav input,
.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion {
  margin: 15px auto;
  overflow: hidden;
  box-shadow: 6px 5px 10px #aaaaaa;
  border: 5px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, var(--purple), var(--orange), var(--yellow))
      border-box;
  border-radius: var(--rounded-corners);
}

.accordion-label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  color: #000000;
  width: 100%;
}

.accordion-content {
  line-height: 2;
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.35s;
}

input[type="radio"]:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 1em;
}

/* footer */

footer {
  margin-top: 30px;
  padding: 0 10px;
  width: 100%;
  background-color: #e0e0e0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.footer-left,
.footer-center,
.footer-right {
  max-width: 100%;
}

.footer-left {
  display: flex;
  align-items: center;
  margin: 15px;
}

.footer-left img {
  width: 200px;
  height: 260px;
}

.footer-left h3 {
  text-align: center;
}

.footer-left #contattaci {
  text-align: center;
}

.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.footer-center iframe {
  width: 400px;
  height: 300px;
  border-radius: var(--rounded-corners);
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.footer-right .footer-col-container {
  text-align: center;
}

.footer-right figure {
  margin: 0;
}

.footer-right h3 {
  margin-top: 2em;
}

.footer-right img {
  width: 300px;
  height: 80px;
}

.footer-right .icon-links {
  display: flex;
  gap: 10px;
}

.icon-links {
  justify-content: space-around;
}

.icon-links a {
  display: block;
}

.footer-right .icon,
.footer-left .icon {
  width: 60px;
  height: 60px;
}

.footer-col-container {
  border-radius: 25px;
}

.footer-col-container img {
  margin: 2em;
  max-width: 100%;
  height: auto;
}

.footer-col-container figure {
  margin-top: 0;
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Mostrare l'hamburger solo su mobile */
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .navbar.show {
    display: flex;
  }

  .navbar li {
    padding: 10px 0;
  }

  .valori-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-article {
    max-width: 400px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .valori-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .section-article {
    width: 265px;
  }

  .carousel-laboratori .carousel-track-container {
    max-width: 1050px;
  }

  .carousel-laboratori .carousel-card {
    flex: 0 0 calc(33.333% - 20px);
  }

  .carousel-laboratori .carousel-track-laboratori {
    gap: 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }

  .footer-center iframe {
    width: 400px;
    height: 300px;
    border-radius: var(--rounded-corners);
  }
}

@media (min-width: 979px) and (max-width: 1200px) {
  .valori-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .section-article {
    width: 350px;
  }

  .carousel-laboratori .carousel-track-container {
    max-width: 1050px;
  }

  .carousel-laboratori .carousel-card {
    flex: 0 0 calc(33.333% - 20px);
  }

  .carousel-laboratori .carousel-track-laboratori {
    gap: 20px;
  }

  #reviews {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .main-container {
    margin: var(--desktop-page-margin);
    margin-top: 0;
  }

  .valori-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .section-article {
    width: 365px;
  }

  .carousel-laboratori .carousel-track-container {
    max-width: 1050px;
  }

  .carousel-laboratori .carousel-card {
    flex: 0 0 calc(33.333% - 20px);
  }

  .carousel-laboratori .carousel-track-laboratori {
    gap: 20px;
  }

  #reviews {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
}

div[id$="-anchor"] {
  height: 0;
  visibility: hidden;
  position: relative;
  top: -70px;
}
