/**
* main.css
*
* Main Style Sheet used to style the landing page
*/

/* Montserrat (Google Font) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal Box Sizing with Inheritance */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* custom properties */
:root {
  --main-font-family: "Montserrat", serif;

  --orange: #fc931c;
  --purple: #ed008a;
  --yellow: #ffff22;

  --purple-transparent: #ed008a1a;
  --orange-transparent: #fc931c1a;

  --rounded-corners: 24px;

  --light-theme-background: #ffffff;
  --light-theme-text-color: black;

  --main-font-size: 1em;
  --main-title-font-size: 2em;
  --h2-font-size: 1.6em;
  --h3-font-size: 1.3em;
  --h4-font-size: 1em;
  --section-title-font-size: 1.4em;
  --mobile-page-margin: 20px;
}

body {
  background-color: var(--light-theme-background);
  font-size: var(--main-font-size);
  margin: var(--mobile-page-margin);
  font-family: var(--main-font-family);
  color: var(--light-theme-text-color);
  padding-top: 60px;
}

/* navbar */
.navbar-container {
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 20px #aaaaaa;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 45px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.navbar a[href="#laboratori-anchor"] {
  color: var(--orange);
}

.navbar a[href="#prenotazione-anchor"] {
  color: var(--purple);
}

.navbar a:hover {
  color: #fc931c;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Nascondere l'hamburger di default */
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Mostrare l'hamburger solo su mobile */
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .navbar.show {
    display: flex;
  }

  .navbar li {
    padding: 10px 0;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Large desktop */
@media (min-width: 1200px) {
}

figure#heroImg {
  width: 100%;
}

#heroImg img {
  border-radius: 0;
}

h2 {
  color: var(--orange);
  text-align: center;
  font-size: var(--h2-font-size);
}

h3 {
  color: var(--purple);
  font-size: var(--h3-font-size);
  margin: 0.5em 0;
}

p {
  line-height: 1.6;
  margin: 0;
}

/* cta buttons */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-buttons {
  text-align: center;
  font-weight: bold;
  border: 5px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, #ed008c, #fc931c, #fef200) border-box;
  border-radius: 24px;
  margin: 10px;
  padding: 10px;
  width: 350px;
  box-shadow: 10px 8px 15px #aaaaaa;
}

.cta-buttons:hover {
  background: linear-gradient(#eeeeee, #eeeeee) padding-box,
    linear-gradient(to left, #ed008c, #fc931c, #fef200) border-box;
  color: #000000;
  box-shadow: 10px 8px 15px #aaaaaa;
}

/* main section images */
.main-images {
  margin: 0 auto;
  border-radius: var(--rounded-corners);
  width: calc(100vw - 50px);
}

/* form */
form {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: var(--rounded-corners);
}

form fieldset {
  border: 0px;
  text-align: center;
  padding: 0;
  margin: 0;
}

form label {
  margin: 0.5em;
  display: block;
  text-align: left;
}

form input,
select,
textarea {
  width: 95%;
  border-color: #b8b8b8;
  border-radius: 7px;
  padding: 1em;
  /* margin-bottom: 2em; */
}

.error {
  margin: 1em 0 2em;
  margin-bottom: 2em;
}

form input:focus {
  border-color: var(--orange);
}

fieldset legend {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: var(--h3-font-size);
}

.error {
  color: red;
  font-size: 0.9em;
}
.separator {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

textarea {
  resize: none;
}

button#submitBookForm {
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  border-radius: var(--rounded-corners);
  border: 2px solid var(--orange);
  color: var(--orange);
  background-color: var(--orange-transparent);
}

.container {
  text-align: center;
  margin-top: 1em;
}

#mandatoryFields {
  color: #b8b8b8;
}

.error {
  display: block;
}

hr {
  border: 2px solid var(--orange);
  border-radius: 5px;
  margin: 2em 0;
}

/* FAQ */

nav input,
.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion {
  margin: 10px auto;
  overflow: hidden;
  box-shadow: 6px 5px 10px #aaaaaa;
  border: 5px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, #ed008c, #fc931c, #fef200) border-box;
  border-radius: 24px;
}

.accordion-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-weight: bold;
  color: #000000;
}

.accordion-content {
  text-align: center;
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.35s;
}

input[type="radio"]:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 1em;
}

h1 {
  font-size: var(--main-title-font-size);
  text-align: center;
  color: var(--orange);
}

.main-title {
  position: relative;
  margin: 1em 0;
}

.hero figure {
  margin: 0;
  margin-bottom: 1.5em;
}

figure {
  text-align: center;
  margin: 3em 0 0;
}

.main-images {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.logo {
  position: absolute;
  bottom: 80px;
  left: 30px;
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 0 auto;
}

div.hero {
  display: flex;
  flex-direction: column-reverse;
}

.section-article {
  display: flex;
  flex-direction: column-reverse;
}

.review {
  border-radius: var(--rounded-corners);
  border: 4px solid;
  padding: 1.5em;
  text-align: center;
  font-style: italic;
  margin: 2em 0;
}

.review-caption {
  font-size: var(--h3-font-size);
  margin-bottom: 1em;
}

.purple {
  background-color: var(--purple-transparent);
  border-color: var(--purple);
}

.orange {
  background-color: var(--orange-transparent);
  border-color: var(--orange);
}

/* carousel */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -200%;
  }
  98% {
    left: -200%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: center;
  }
  99% {
    scroll-snap-align: center;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  margin-top: 2em;
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

#carousel__slide1 {
  background-image: url("../assets/img/carousel/collaborazioni.webp");
}
#carousel__slide2 {
  background-image: url("../assets/img/carousel/storia.webp");
}
#carousel__slide3 {
  background-image: url("../assets/img/carousel/party-bene.webp");
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: none; /* Disabilita l'animazione */
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

div[id$="-anchor"] {
  height: 0;
  visibility: hidden;
  position: relative;
  top: -70px;
}
