/* ED008C-FFFF22 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
  font-size: 28px;
}

p {
  line-height: 1.6;
  margin: 10px;
}

.login {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-login {
  margin-bottom: 30px;
  color: #fc931c;
}

form {
  width: 100%;
}

.login-input {
  width: 100%;
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 24px;
  margin-bottom: 20px;
}

.login-button {
  background-color: rgba(
    252,
    147,
    28,
    0.1
  ); /*0.1 indica il 10% di opacità quindi il 90% di trasparenza */
  color: #fc931c;
  border: 2px solid #fc931c;
  border-radius: 24px;
  padding: 15px 30px;
  font-size: 16px;
  width: auto;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.login-button:hover {
  background-color: #fc931c;
  color: #ffffff;
}

/* per rendere il placeholder bold */
::-webkit-input-placeholder {
  font-weight: bold;
}
::-moz-input-placeholder {
  font-weight: bold;
}
::-ms-input-placeholder {
  font-weight: bold;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-buttons {
  font-weight: bold;
  border: 5px solid transparent;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to left, #ed008c, #fc931c, #fef200) border-box;
  border-radius: 24px;
  margin: 10px;
  padding: 10px;
  width: 350px;
  box-shadow: 10px 8px 15px #aaaaaa;
}

.cta-buttons:hover {
  background: linear-gradient(#eeeeee, #eeeeee) padding-box,
    linear-gradient(to left, #ed008c, #fc931c, #fef200) border-box;
  color: #000000;
  box-shadow: 10px 8px 15px #aaaaaa;
}
